*{
	margin: 0;
}

body{background-color: #4682B4;font-family: 'Proxima-nova', 'Helvetica Neue';font-size: 1.2rem;margin: 24px;
}

.profile-pic{
	border-radius: 100px;
	height: 200px;
	width: 200px;
	float: left;
	margin-right: 24px;
}

h1{
	color:#F08080;margin-bottom: 12px
}

h2{
	color:#CD853F;margin-bottom: 6px
}

div{
	margin-left: 220px;
	border: solid 3px #A0522D;
	margin-bottom: 12px;
	padding: 12px;
}

.media{
	max-width: 100%;
	max-height: 100%;
	margin-top: 12px;
}

.like{
	max-height: 400%;
	max-width: 400%;
	margin-top: 12px;
}

